:root {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-weight: bold;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
    line-height: 1.5;
}

main h1, main p {
    display: flex;
    justify-content: center;
    text-align: center;
}

main p {
    font-size: 20px;
}

.start-quiz {
    display: flex;
    justify-content: center;
}

.start-btn, .answer-btn {
    border: none;
    border-radius: 8px;
    background-color: tomato;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.start-btn:hover, .answer-btn:hover {
    box-shadow: 0 0 5px black;
}

.start-btn:active, .start-btn:active {
    box-shadow: none;
}

#btn-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#validate-section {
    display: flex;
    flex-basis: 100%;
}

footer {
    display: block;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 18px;
}